.header {
  padding: 0.25rem;
  background-color: skyblue;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
}

.header h1 {
  margin: 0;
}

.header a {
  font-weight: 500;
  text-decoration: none;
  color: white;
}

.Hero {
  text-align: center;
  justify-content: center;
}

.links-flex {
  justify-content: center;
  display: flex;
}

.links-flex a {
  font-size: 1.5rem;
  text-decoration: none;
  margin: 1rem;
}

.links-flex a:hover {
  text-decoration: underline;
}

.links-flex a::after {
  content: ' >';
}

.Hero h1 {
  padding-top: 10rem;
  font-size: 3rem;
}

.Hero p {
  font-size: 1.5rem;
}

.d-flex {
  text-align: center;
  margin-top: 2rem;
  justify-content: center;
  gap: 3vw;
  display: flex;
}

.item {
  width: 12vw;
}

.dado {
  color: rgb(46, 168, 216);
  margin: 0;
  font-weight: bold;
  font-size: 4rem;
}

.text-gray {
  margin: 0;
  font-size: 1.25rem;
  color: #454545;
  font-weight: 500;
}

span {
  height: 150px;
  width: 1px;
  background-color: black;
}

.lead {
  text-align: justify;
  font-size: 1.5rem;
  width: 60vw;
  margin: 5rem auto;
  margin-bottom: 0;
  padding-bottom: 5rem;
}

.btn {
  height: 2rem;
  border-radius: 2rem;
  background-color: skyblue;
  color: white;
  font-weight: 700;
  padding: 30px;
  text-decoration: none;
}

p.preco {
  margin: auto 1rem;
  font-weight: 700;
  font-size: 3rem;
}

.descricao {
  padding-top: 2rem;
  margin-top: 3rem;
  background-color: #efefef;
}